


.subHeading {
font-size: 16px;
color: black;
text-transform: none;
}

.blogArticle {
    border: solid 1px;
    border-color: black transparent;
    margin: 1rem auto;
    padding: 1rem 0 6rem;
}

.shareLinkContainerTop {
    position: relative;
}

.linkShare {
    text-decoration: underline;
    margin-left: 1rem;
}

.iconShareTop {
    position: relative;
    bottom: -.2rem;
}

.imageContainerFullWidth {
    overflow: hidden;
    margin: 1rem 0 3rem;
}

.imageContainerFullWidth img {
    object-fit: cover;
    height: 250px;
    width: 100%;
    border-radius: 16px;
}

/* .imageContainerHalfWidth {
} */

.imageContainerHalfWidth img {
    display: block;
    object-fit: cover;
    height: 250px;
    aspect-ratio: 1/1;
    border-radius: var(--leave-border-radius);
    margin: 2rem auto;
}


.buttonsAfterArticle {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.buttonsAfterArticle button {
    margin: 0;
}

.shareArticleDownButton {
    color: var(--white);
    background: transparent;
    transition: all .3s ease;
    color: var(--middle-green);
    border: solid 4px var(--middle-green);
    padding-right: 1.5rem;
    position: relative;
}

.buttonsAfterArticle .shareArticleDownButton:hover {
    background: var(--middle-green);
    color: white;
}

.iconShareDown {
    position: absolute;
    transform: scale(.8);
    bottom: .3rem;
    right: 1rem;
}


@media (min-width: 700px) {
    .subHeading {
        font-size: 32px;
        }

    .imageContainerFullWidth img {
        height: 380px;
    }  

    .lastParagraph {
        display: flex;
        gap: 2rem;
        justify-content: space-between;

    }

    .imageContainerHalfWidth {
       flex: 1 0 300px;
        /* width: 50%;
        padding-left: 5%; */
    }

    .imageContainerHalfWidth img {
        height: 300px;
        margin: 1rem 0;
    } 
    

    .buttonsAfterArticle {
        gap: 3rem;
    }
    

    .shareArticleDownButton {
        padding-right: 2rem;
    }

    .iconShareDown {
        transform: scale(1);
        bottom: .8rem;
        right: 1.2rem;
    }

}