

.flexParent {
    display: flex;
    background: #FFFDED;
    border-radius: 16px;
    overflow: hidden;
    justify-content: space-between;
    flex-direction: column;
    max-width: 420px; /*800*/
    margin: 0 auto;
    gap: 2rem;
}

.donorboxContainer {
    height: 599px; /*599px*/
    flex: 1 1 50%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* width: 423px; nesmi byt, jinak se donorbox nezuzi - meni styl podle sirky */
    max-width: 423px;
}

.donateMessage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    flex:1 1 50%;
}

.buttonBitcoin {
 padding-right: 1rem;
 position: relative;
}

.bitcoin {
    position: absolute;
    right: .8rem;
    bottom: .3rem;
}

/*----------- musi byt 960px---*/
@media (min-width: 850px) {
    .flexParent {
     flex-direction: row;
     max-width: 900px;
     gap: 0;
    }

    .donorboxContainer {
        height: 599px;
    }
}