

/* .footerTest {
    background: var(--bkg-footer-gradient);
} */



.center {
    display: flex;
    justify-content: center;
}

.containerContent {
    max-width: var(--max-width-of-content);
    margin: 0 auto;
    padding-top: 0;
}

.bottomBorder {
    border-bottom: solid 2px black;
}


.footerBottomGrid {
    display: flex;
    padding: 1rem;
    gap: 1rem;
    
}

.footerBottomGridChild:nth-child(1) {
    flex: 1 1 200px;
}

.footerBottomGridChild:nth-child(1) img {
    max-width: 80px;
}

.footerBottomGridChild:nth-child(2) {
     flex: 1 1 400px;
}

.row {
    border: solid transparent 20px;
    border-left: none;
}

.row > * {
    border: solid transparent 15px;
    border-left: none;
}


.copyEmail {
    cursor: pointer;
    text-decoration: underline;
}

.termsOfUse {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-bottom: 0;
}

.copyEmailNotification {
    display: block;
    position: fixed;
    bottom: 2rem;
    left: 0;
    right: 0;
    background: black;
    padding: 1em 2em;
    border-radius: 5px;
    color: var(--white);
    width: fit-content;
    margin: 0 auto;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.active {
    opacity: 1;
}
