

/* .footerTest {
    background: var(--bkg-footer-gradient);
} */



.center {
    display: flex;
    justify-content: center;
}

.containerContent {
    max-width: var(--max-width-of-content);
    margin: 0 auto;
    padding-top: 0;
}

.containerContent h6 {
font-size: 16px;
text-align: left;
}

.containerContent .sitemapLink {
    line-height: 2rem;
}

.adress {
    line-height: 1.4rem;
}

.bottomBorder {
    border-bottom: solid 1px black;
    padding-bottom: 1rem;
}


.footerBottomGrid {
    display: flex;
    padding: 1rem 0;
    gap: 2rem;
    
}

.footerBottomGridChild:nth-child(1) {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
}

.footerBottomGridChild:nth-child(1) img {
    max-width: 60px;
}

.footerBottomGrid .sitemap {
    display: none;
    flex: 1 1 150px;
}

.footerBottomGridChild.getInTouch {
     flex: 1 1 auto;
}

.row {
    border: solid transparent 20px;
    border-left: none;
}

.row > * {
    border: solid transparent 15px;
    border-left: none;
}


.copyEmail {
    cursor: pointer;
    text-decoration: underline;
}

.socials > a {
    margin: .5rem;
}

/* .socials > a:hover ~ img {
    fill: gray;
} */

.socials > a > img {
    max-height: 40px;
}

.socials:hover img {
    fill: var(--black-hover); /*needs redo*/
}

.ourAccreditation {
    margin-left: 102px;
    margin-bottom: 0;
    margin-top: 2rem;
    display: none;
}


.ourAccreditationFlex {
    display: flex;
    align-items: flex-end;
    gap: 2rem;
    margin-top: 1rem;
}

.copyEmailNotification {
    display: block;
    position: fixed;
    bottom: 2rem;
    left: 0;
    right: 0;
    background: black;
    padding: 1em 2em;
    border-radius: 5px;
    color: var(--white);
    width: fit-content;
    margin: 0 auto;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.active {
    opacity: 1;
}



@media (min-width: 600px) {
    .socials > a > img {
        height: 60px;
    }
}

@media (min-width: 765px) {

    .footerBottomGridChild:nth-child(1) {
        align-items: flex-start;
        padding-top: .8rem;
        flex: 0 0 70px;
    }

    .footerBottomGrid .sitemap {
        display: block;
    }

    .footerBottomGridChild.getInTouch {
        flex: 1 1 300px;
        justify-self: flex-end;
   }

    .ourAccreditation {
        display: block;
    }

}