

/* .footerTest {
    background: var(--bkg-footer-gradient);
} */



.center {
    display: flex;
    justify-content: center;
}

.containerContent {
    max-width: var(--max-width-of-content);
    margin: 0 auto;
    padding-top: 0;
    position: relative;
}

.containerContent h6 {
font-size: 16px;
text-align: left;
}

.containerContent .sitemapLink {
    line-height: 2rem;
}

.adress {
    line-height: 1.4rem;
}

.bottomBorder {
    border-bottom: solid 1px black;
    padding-bottom: 1rem;
}


.footerBottomGrid {
    display: flex;
    padding: 1rem 0;
    gap: 2rem;
    
}

.logoImg {
    display: none;
}

.footerBottomGridChild:nth-child(1) {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
}

.footerBottomGridChild:nth-child(1) img {
    max-width: 60px;
}

.footerBottomGrid .sitemap {
    display: block;
    flex: 1 1 150px;
}

.footerBottomGridChild.getInTouch {
     display: none;
}

.row {
    border: solid transparent 20px;
    border-left: none;
}

.row > * {
    border: solid transparent 15px;
    border-left: none;
}


.copyEmail {
    cursor: pointer;
    text-decoration: underline;
}

.socials > a {
    margin: .5rem;
}

/* .socials > a:hover ~ img {
    fill: gray;
} */

.socials > a > img {
    max-height: 40px;
}

.socials:hover img {
    fill: var(--black-hover); /*needs redo*/
}

.ourAccreditation {
    /* margin-left: 102px; */
    margin-bottom: 0;
    margin-top: 2rem;
}

.ourAccreditation h6 {
    text-align: center;
}


.ourAccreditationFlex {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 2rem;
    margin: 1rem auto;
}


.termsOfUse {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.termsOfUse > * {
    padding: .3rem 0;
}





.copyEmailNotification {
    display: block;
    position: fixed;
    bottom: 2rem;
    left: 0;
    right: 0;
    background: black;
    padding: 1em 2em;
    border-radius: 5px;
    color: var(--white);
    width: fit-content;
    margin: 0 auto;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.active {
    opacity: 1;
}


/*---------------media ---------------*/

@media (min-width: 600px) {

    .logoImg {
        display: block;
    }

    .socials > a > img {
        height: 60px;
    }
}

@media (min-width: 800px) {

    .footerBottomGridChild:nth-child(1) {
        align-items: flex-start;
        padding-top: .8rem;
        flex: 0 0 70px;
    }

    .footerBottomGrid {
        width: 100%;
    }

    .footerBottomGrid .sitemap {
        flex: 0 1 200px;
    }   

    .footerBottomGridChild.getInTouch {
        position: absolute;
        right: 30px;
        top: 125px;
        display: block;
   }




   .ourAccreditation {
        margin-left: 102px;
    }

    .ourAccreditation h6 {
    text-align: left;
    }


    .ourAccreditationFlex {
    justify-content: flex-start;
    }


    .termsOfUse {
    position: absolute;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    bottom: 0;
    right: 100px;
    }



}