
.heroSectionTest {
    color: blueviolet;
    text-decoration: underline;
}

.containerHero {
    position: relative;
    color: var(--white);
    overflow: hidden;
    height: 100vh;
    background-color: var(--bkg-white);
}

.heroVideo {
    /* max-width: 100%; */
    pointer-events: none;
    position: relative;
    bottom: 40%;
    left: -95%;
}

.headerContainer {
    position: absolute;
    bottom: 6rem;
    z-index: 100;
    margin: 0 1rem;
    padding: 0rem;
}

.header {
    text-transform: uppercase;
    font-size: 36px;
    line-height: 1.5em;
    font-family: 'PeaceSans', sans-serif;
    text-shadow: 0px 4px 4px rgba(46, 46, 46, 0.35);
    margin-bottom: 2rem;
}

.subHeader {
    /* font-weight: 400; */
    font-size: 20px;
    line-height: 1.5em;
    text-align: justify;
    font-weight: 600;
}

.buttons {
    font-size: 14px;
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
    margin-top: 3em;
    /* font-family: 'KumbhSans';
    font-weight: 600; */
}

.buttonHero {
    color: var(--white);
    background: var(--middle-green);
    border: 2px solid var(--white);
    border-radius: 36px;
    padding: .8em 2em;
    letter-spacing: var(--letter-spacing-button);
    transition: all .3s ease;
    font-size: inherit;
}

.buttonHero:hover {
    background: #667E3C;
    transition: all .3s ease;
}

.buttonHeroTwo {
    color: var(--white);
    background: transparent;
    border: 2px solid;
    border-radius: 36px;
    padding: .8em 2em;
    letter-spacing: var(--letter-spacing-button);
    transition: all .3s ease;
    font-size: inherit;
}

.buttonHeroTwo:hover {
    color: var(--middle-green);
    background: rgba(255, 253, 237, 1);
    transition: all .3s ease;
}

@media (min-width: 500px) {

    .heroVideo {
    
        left: -70%;
    }
    
}

@media (min-width:800px) {

    .containerHero {
    height: auto;
    max-height: 100vh;
    }

    .heroVideo {
        max-width: 100%;
        position: static;
    }

    .headerContainer {
        margin: 0 2rem;
        bottom: 1rem;
    }

    .header {
        font-size: 30px;
    }
    
    .subHeader {
        font-size: 24px;
    }

}

@media (min-width: 1000px) {

    .headerContainer {
        margin: 0 4rem;
        max-width: 70%;
        padding: 0;
        bottom: 6rem;
    }

    .header {
        font-size: 36px;
        text-align: left;
    }

    .subHeader {
        font-size: 26px;
        text-align: left;
    }

    .buttons {
        font-size: 18px;
    }

    
}