
.heroSectionTest {
    color: blueviolet;
    text-decoration: underline;
}

.containerHero {
    position: relative;
    color: var(--white);
    overflow: hidden;
    height: 100vh;
    background-color: var(--bkg-white);
}

.heroVideo {
    /* max-width: 100%; */
    pointer-events: none;
    position: relative;
    object-fit: cover;
    height: 100%;
    width: 100%;
    /* bottom: 40%; */
    /* left: -95%; */

}

.headerContainer {
    position: absolute;
    bottom: 2rem;
    z-index: 100;
    /* margin: 0 1rem; */
    padding: 2rem 1rem 3rem;
}

.header {
    text-transform: uppercase;
    font-size: 26px;
    line-height: 1.5em;
    font-family: 'PeaceSans', sans-serif;
    text-shadow: 0px 4px 4px rgba(46, 46, 46, 0.35);
    margin-bottom: 2rem;
}

.subHeader {
    /* font-weight: 400; */
    font-size: 20px;
    line-height: 1.5em;
    text-align: justify;
    font-weight: 600;
}

.buttons {
    font-size: 14px;
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
    margin-top: 3em;
    /* font-family: 'KumbhSans';
    font-weight: 600; */
}

.buttonHero {
    color: var(--white);
    background: var(--middle-green);
    border: 2px solid var(--white);
    border-radius: 36px;
    padding: .8em 2em;
    letter-spacing: var(--letter-spacing-button);
    transition: all .3s ease;
    font-size: inherit;
}

.buttonHero:hover {
    background: #667E3C;
    transition: all .3s ease;
}

.buttonHeroTwo {
    color: var(--white);
    background: transparent;
    border: 2px solid;
    border-radius: 36px;
    padding: .8em 2em;
    letter-spacing: var(--letter-spacing-button);
    transition: all .3s ease;
    font-size: inherit;
}

.buttonHeroTwo:hover {
    color: var(--middle-green);
    background: rgba(255, 253, 237, 1);
    transition: all .3s ease;
}

@media (min-width: 500px) {

    /* .heroVideo {
    
        left: -70%;
    } */

    .header {
        font-size: 40px;
    }
    
}

@media (min-width: 700px) {
    .header {
        font-size: 54px;
        text-align: left;
    }

    .subHeader {
        font-size: 24px;
    }

    .buttonHero, .buttonHeroTwo {
        font-size: 24px;
        border-radius: 36px;
        padding: .5em 2em;
        border-width: 4px;
    }

    
}


@media (min-width: 1200px) {

    .headerContainer {
        margin: 0 4em;
        max-width: 70%;
        padding: 0;
        bottom: 4rem;
    }


    .subHeader {
        text-align: left;
        font-size: 30px;
    }

    .buttonHero, .buttonHeroTwo {
        font-size: 30px;
    }

    
}

/* @media (min-width: 1100px) {

        .heroVideo {
            width: 100%;
            object-fit: cover;
        }

    
}
 */
