
.heroSectionTest {
    color: blueviolet;
    text-decoration: underline;
}

.containerHero {
    position: relative;
    color: var(--white);
    overflow: hidden;
    height: 100vh;
}

.heroVideo {
    /* max-width: 100%; */
    pointer-events: none;
    position: relative;
    bottom: 40%;
}

.headerContainer {
    position: absolute;
    bottom: 6rem;
    z-index: 100;
    margin: 0 1rem;
}

.header {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 20px;
    line-height: 1.5em;
    font-family: 'Peace Sans', sans-serif;
    text-shadow: 0px 4px 4px rgba(46, 46, 46, 0.35);
}

.subHeader {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5em;
    text-align: justify;
}

.buttons {
    font-size: 14px;
    display: flex;
    justify-content: space-around;
    margin-top: 3em;
}

.buttonHero {
    color: var(--white);
    background: #799745;
    border: 2px solid var(--white);
    border-radius: 36px;
    padding: .6em 2em;
}

.buttonHeroTwo {
    color: var(--white);
    background: transparent;
    border: 2px solid var(--white);
    border-radius: 36px;
    padding: .6em 2em;
}

@media (min-width:800px) {

    .containerHero {
    height: auto;
    max-height: 100vh;
    }

    .heroVideo {
        max-width: 100%;
        position: static;
    }

    .headerContainer {
        margin: 0 2rem;
    }

    .header, .subHeader {
        font-size: 22px;
    }

    .buttons {
        font-size: 16px;
       justify-content: flex-start;
       gap: 2em;
    }
}

@media (min-width: 1000px) {

    .headerContainer {
        margin: 0 4rem;
        max-width: 70%;
    }

    .header, .subHeader {
        font-size: 32px;
        text-align: left;
    }

    .buttons {
        font-size: 20px;
    }
    
}