

.layoutTest {
    color: salmon;
    text-decoration: underline;
}

/* .container {
    /* border: solid 1px black; */
   /* margin-top: 50px; /*because of the fixed nav on the top
} */

.navbar {
    /* border: solid 1px black; */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    /* background: transparent; */
    z-index: 999;
    /* border-radius: 0 0 2rem 2rem; */
    overflow: visible; /*kvuli stinu na Donate button*/
    /* background: linear-gradient(180deg, rgba(252, 252, 252, 0.5) 0%, rgba(252, 252, 252, 0.6) 100%, rgba(252, 252, 252, 0.25) 100%);
    /* -webkit-backdrop-filter: blur(3px); */
    /* backdrop-filter: blur(3px); */ 
    /* background: rgba(255, 255, 255, 0.8); */
    background-color: var(--bkg-white);
    box-shadow: 0px 4px 30px rgba(125, 125, 125, 0.2);
}

.footer {
    /* border: solid 1px black; */
    padding: 1rem;
    /* margin-top: 1rem; */
    background: var(--bkg-footer-gradient);
    font-size: 12px;
}

@media (min-width:1200px) {

    .footer {
        font-size: 14px;
    }
}