
.navbarTest {
    color: blue;
}

.navbarContainer {
    /* position: absolute; */
   
}

.flexRow {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 20px; 
}

.logo {
    flex-grow: 1; 
}

.logoImg {
  padding: 7px 0;
}

.linkItem {
    padding: 0 26px;
}

.lastLinkItem {
   padding-right: 9px; 
}

.active {
    text-decoration: underline;
}

.hidden {
    display: none;
}