
.navbarTest {
    color: blue;
}

.navbarContainer {
    /* position: absolute; */
   
}

.active {
    text-decoration: underline;
}

.flexRow {
    display: flex;
    justify-content: space-around;
}

.hidden {
    display: none;
}