.flexParentTwoSameCol {
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    overflow: hidden;
}

.card {
    background-color: var(--bkg-beige);
    display: grid;
    place-content: center;
    padding: 3rem;
}

.card p {
    text-align: center;
    max-width: 300px;
}

.imageStyleContainer {
    width: 100%;
}

.imageStyleContainer img {
    object-fit: cover;
    height: 100%;
}


/*------------media queries ------------------------ */

@media (min-width: 700px) {
    .flexParentTwoSameCol {
        flex-direction: row;

    }

    .flexParentTwoSameCol > * {
        flex: 1 1 50%;
    }
}