@font-face {
  font-family: 'PeaceSans';
  src: url('/fonts/PeaceSans/PeaceSansWebfont.ttf') format('truetype');
  /* font-weight: 400; it has only one font weight */
}

@font-face {
  font-family: 'KumbhSans';
  src: url('/fonts/KumbhSans/static/KumbhSans-Bold.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'KumbhSans';
  src: url('/fonts/KumbhSans/static/KumbhSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'KumbhSans';
  src: url('/fonts/KumbhSans/static/KumbhSans-Medium.ttf') format('truetype');
  font-weight: 500;
}

.kumbhSansBold {
  font-family: 'KumbhSans';
  font-weight: 700;
}

.kumbhSansSemiBold {
  font-family: 'KumbhSans';
  font-weight: 600;
}

.kumbhSansMedium {
  font-family: 'KumbhSans';
  font-weight: 500; /*tohle defaultne na cely stranky*/
}

:root {
  --dark-green: #2E4010;
  --middle-green: #84A54B;
  --middle-green-hover:#799745;
  --light-green: #BDD98D;
  --dark-orange: #8A3100;
  --middle-orange: #EF6C23;
  --middle-orange-hover: #DE631F;
  --light-orange: #FF9559;
  --bkg-light-gradient: linear-gradient(97.43deg, #ECFFCC 1.26%, rgba(255, 213, 189, 0.56) 58.76%, rgba(225, 255, 173, 0.41) 98.26%);
  --bkg-footer-gradient: radial-gradient(77.98% 1921.66% at 50% 22.02%, rgba(189, 217, 141, 0.79) 6.25%, rgba(208, 197, 126, 0.66) 46.35%, rgba(254, 160, 108, 0.62) 100%);
  --max-width-of-content: 1200px;
  --white: #FFFBE1;
  --bkg-white: #fcfcfc;
  --bkg-beige: #FFFDED;
  --letter-spacing-button: .05em;
  --light-grey: #D9D9D9;
  --leave-border-radius: 50% 12% 50% 50%;
  --leave-border-radius-opposite: 12% 50% 50% 50%;
  --black-hover: #494949;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'KumbhSans', sans-serif;
  font-weight: 500;
  background-color: var(--bkg-white);
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



.whiteStripe::before {
content: '';
width: 100%;
height: 5.7rem;
background-color: var(--bkg-white);
top: 0;
position: absolute;
left: 0;
right: 0;
}

.whiteStripeMd::before {
  content: '';
  width: 100%;
  height: 2.7rem;
  background-color: var(--bkg-white);
  top: 0;
  position: absolute;
  left: 0;
  right: 0;
}

.whiteStripeContact::before {
  content: '';
  width: 100%;
  height: 3.7rem;
  background-color: var(--bkg-white);
  top: 0;
  position: absolute;
  left: 0;
  right: 0;
}


img {
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}


.headingForSections {
position: relative;
margin: 2rem 0;
color: var(--dark-green);
}

.gradientText {
  background: linear-gradient(97.43deg, #ECFFCC 1.26%, #FFD5BD 58.76%, rgba(225, 255, 173, 0.74) 98.26%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
color: transparent;
font-family: 'PeaceSans';

}

.centeredText {
  text-align: center;
}

.greenMiddleHeading {
  color: var(--middle-green);
}

.centeredWithLeave {
  width: max-content;
  margin: 0 auto;
}

.headingForSections h3 {
  font-family: 'PeaceSans';
  text-transform: uppercase;
  position: relative;
  font-size: 26px;
  padding: 1rem 0 0;
}

.headingRedDot {
  color: var(--middle-orange);
}

.headingForSections .subHeading {
  color: var(--middle-green);
  position: absolute;
  top: -.5rem;
  left: 2rem; 
  font-weight: 600;
  
}

.subHeadingDown {
  color: var(--middle-green);
  font-weight: 600;
}

.headingLeave {
  width: 50px;
  aspect-ratio: 1 / 1;
  background: linear-gradient(220.06deg, #BDD98D 35.86%, #84A54B 81.59%);
  display: inline-block;
  position: absolute;
  left: -25px;
  top: -7px;
  border-radius: var(--leave-border-radius);
}

.orangeLeave {
  background: linear-gradient(220.42deg, #BDD98D 31.11%, #FF9559 90.57%);

}

.centered_h3_span {
  position: relative;
  text-align: center;
  /* left: -12%; */
}

.centered_h3_span ~ .headingRedDot {
 position: relative;
 /* left: -12%; */
}

/* .centerLeave {
  position: relative;
  left: -1rem;
  top: 1.5rem;
} */

/* .centeredLeave_h3_span {
  left: -0.3rem;
  top: -0.2rem;
}

.centeredLeave_h3_span_two {
  top: -0.2rem;
} */

.whiteText {
  color: var(--bkg-beige);
}

.headerMd {
  font-family: 'PeaceSans';
  text-transform: uppercase;
  position: relative;
  font-size: 22px;
  margin-bottom: 2rem;
}

.orangeText {
  color: var(--middle-orange);
}

.greenUnderlineLink {
  color: var(--middle-green);
  text-decoration: underline;
  font-weight: 800;
}

ul {
  list-style: none;
  margin: 0;
}

p {
  text-align: justify;
  font-size: 16px;
}

button {
  /* padding: 0.5rem 1.5rem; musi jit do button a */
  font-weight: bold;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}


.readMore {
  background-color: var(--middle-green);
  color: var(--white);
  box-shadow: 0px 4px 30px rgba(132, 165, 75, 0.25);
  border-radius: 36px;
  border: none;
  display: block;
  margin: 3rem auto 0rem auto;
  font-family: 'KumbhSans', sans-serif;
  font-weight: 600;
  letter-spacing: var(--letter-spacing-button);
  cursor: pointer;
  transition: all .3s ease;
}

button a {
  padding: 0.5rem 1.5rem;
  display: block;
}

.inlineButton {
  display: inline-block;
  margin: 2rem 1rem;
}

button.readMore:hover {
  background-color: var(--middle-green-hover);
}

button.accentColor {
  background-color: var(--middle-orange);
  box-shadow: 0px 4px 30px rgba(239, 108, 35, 0.25);
}

button.accentColor:hover {
  background-color: var(--middle-orange-hover);
}

.disabledButton, .disabledButton:hover {
  background-color: rgb(163, 161, 161);
  pointer-events: none;
}

h6 {
  padding: .5rem 0;
  font-weight: 600;
  font-size: 16px;
}

.articleMargin {
  margin: 3rem 0;
}

.marginBottom {
  margin-bottom: 3rem;
}

/* .row {
  display: flex;
} */

input, label {
  display: block;
  margin: 0 0 1.5rem;
}

input {
  border-radius: 16px;
  padding: .2rem .5rem;
  box-shadow: 0px 4px 25px rgba(85, 85, 85, 0.2);
  border: none;
  height: 30px;
}

form .readMore {
  margin-left: 0;
}


/* .halfWayDownContainer {
  position: relative;
  display: block;
}

.readMoreHalfWayDown {
  position: absolute;
  bottom: -4.5rem;
  z-index: 200;
  left: 50%;
  transform: translateX(-50%);
} */

.globalsTest {
  color: pink;
  text-decoration: underline;
}

.container {
  margin: 0 auto;
  max-width: 100%; /* container 100% because of bkg - for content width use .articleComponent */
  /* background-color: rgba(0 0 0 / .1); */
  padding: 0;
}

.articleComponent {
  /* border: solid 1px black; */
  padding: 0; /* can change due to the wireframes */
  position: relative;
  
}

.gradientBkgComponent {
  background: var(--bkg-light-gradient);
}

.bkgWhiteComponent {
  background: var(--bkg-white);
}

.bkgBeigeComponent {
  background: var(--bkg-beige);
}

.darkGreenBkgComponent {
  background: var(--dark-green);
}

.pictureBkg {
  background: linear-gradient(0deg, rgba(255, 251, 225, 0.3), rgba(255, 251, 225, 0.3)), url('/images/donorbox_placeholder.png');
  background-repeat: no-repeat;
  background-size: cover;
  /* background-image: url('/images/donorbox_placeholder.png'); */
  width: 100%;
  max-width: auto;
  /* height: auto; */
}

.contentWidth {
  /*border: red solid 1px; /*temporary border to see */
  max-width: 90%;
  margin: 0 auto;
  padding: 1rem .5rem 2rem; /*musis nechat kvuli MeetTheTeam*/
  position: relative;
}

.firstComponentOnPage {
  margin-top: 5rem; 
}

.lastComponentOnPage {
  padding-bottom: 5rem;
}


.two-four-grid.conserving {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.two-four-grid.conserving > * {
  margin-bottom: 2rem;
  max-width: 40%;
  text-align: center;
  font-size: 1.2rem;
  flex: 1 1 50%;
}

.two-four-grid.mission {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.two-four-grid.mission > * {
  margin-bottom: 2rem;
  max-width: 40%;
  text-align: center;
  font-size: 1.2rem;
  flex: 1 1 50%;
}


.mission-small-text {
  font-size: 14px;
  padding: .5rem 0;
}

.mission-small-picture {
  width: 80%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  overflow: hidden;
  background-color: gray;
  margin: 0 auto 1rem;
}

.meetTheTeamGridContainer {
  position: relative;
}

.gridContainerRow {
  position: relative;
}

.meetTheTeamGrid {
  position: relative;
  margin: 2rem auto;
  justify-content: space-around;
  gap: .5rem;
  flex-wrap: wrap;
  width: 100%;
  display: none;
  opacity: 0;
  animation: opacityChanging backwards 1s;
}



.secondMeetTheTeamGrid {
  display: none;
  opacity: 0;
}

.meetTheTeamGrid.active {
  display: flex;
  opacity: 0;
  animation: opacityChanging forwards 2s;
}


.secondMeetTheTeamGrid.active {
  display: flex;
  opacity: 0;
  animation: opacityChanging forwards 2s;
}


@keyframes opacityChanging {
  0% {opacity: 0;}
  100% {opacity: 1}
}

.meetTheTeamGrid .card {
  position: relative;
  flex: 1 1 40%;
  max-width: 250px;
  margin-top: 5rem; /**/
  background-color: var(--middle-green);
  border: none;
  border-radius: 20px;
  color: var(--bkg-beige);
}

.meetTheTeamGrid .card-for-wider-screen {
  display: none;
}

.meetTheTeamGrid .card__content {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 1rem;
  font-size: 14px;
  gap: .3rem;
}


.meetTheTeamGrid .card__job ~ div {
  font-style: italic;
  padding-bottom: .3rem;
}

.meetTheTeamGrid .card__img {
 border-radius: 50%;
 overflow: hidden;
 background-color: gray;
 max-width: 60%;
 margin: 0 auto;
 aspect-ratio: 1/1;
 position: absolute;
 margin-top: -35%; /**/
 left: 0;
 right: 0;
}

.meetTheTeamGridContainer .arrow {
  position: absolute;
  top: 53%;
  /* background-color: red; */
  width: 20px;
  aspect-ratio: 1/1;
  opacity: 0;
  pointer-events: none;
  transition: opacity 1s ease;
  display: grid;
  place-content: center;
  -webkit-tap-highlight-color: transparent;
}

.arrow ellipse {
  fill: transparent;
  stroke: var(--middle-green);
}

.arrow path {
  fill: var(--middle-green);
/*   z-index: 100; pokud mam path v html pred ellipse, tak nejde path videt, a z-index nepomuze*/
}


.arrowSvg ellipse:hover {
  fill: var(--middle-green);
  stroke: var(--middle-green);
}

.arrowSvg ellipse:hover ~ path {
  fill: white; /*tady transparent nefunguje, takze to musis udelat vzdy podle bkg, pres props??*/
}

.arrowSvg path {
  pointer-events: none;
}

/* .arrowSvg {
  border: black solid 1px;
} */

.meetTheTeamGridContainer .arrow.active {
  opacity: 1;
  pointer-events: all;
  transition: opacity 1s ease;
  cursor: pointer;
}

.meetTheTeamGridContainer .arrow_left {
  left: -0.5rem;
}

.meetTheTeamGridContainer .arrow_left .arrowSvg {
  transform: scale(.6) scale(-1);
}

.meetTheTeamGridContainer .arrow_right {
  right: -0.5rem;
}

.meetTheTeamGridContainer .arrow_right .arrowSvg {
  transform: scale(.6);
}

.aboutHeroSection {
  margin-top: 2rem;
  position: relative;
  background: var(--bkg-light-gradient);
  height: 300px;
  overflow: hidden;
}

.aboutHeroSection_heading {
  position: absolute;
  inset: 0;
  display: grid;
  place-content: center;
  text-align: center;
  padding: 3rem;
  font-size: 30px;
}

.aboutHeroSection_heading h5 {
  display: none;
}

.aboutHeroSection img {
  object-fit: cover;
  max-height: 100%;
  max-width: min-content;
}

/*----------------------------------MEDIA  QUERIES-------------------------------------------------*/

@media (min-width: 400px) {
  .meetTheTeamGrid {
    width: 85%;
    gap: 1rem;
  }

  
}

@media (min-width: 500px) {
  
  .aboutHeroSection {
    height: auto;
    max-height: 70vh;
  }

  .aboutHeroSection img {
    width: 100%;
    object-fit: cover;
    max-height: 100%;
    max-width: 100%;
  }

}

@media (min-width: 600px) {


  .two-four-grid.conserving > * {
    margin: 1rem;
  }

  .two-four-grid.mission > * {
    margin: 1rem;
  }


  .meetTheTeamGrid .card {
    margin-top: 6rem; /**/
  }

  .meetTheTeamGrid .arrow_left {
    left: -3rem;
  }


  .meetTheTeamGridContainer .arrow_left .arrowSvg {
    transform: scale(.8) scale(-1);
  }
  
  .meetTheTeamGrid .arrow_right {
    right: -3rem;
  }

  .meetTheTeamGridContainer .arrow_right .arrowSvg {
    transform: scale(.8);
  }

}

@media (min-width: 700px) {

  .headingForSections h3 {
    font-size: 54px;
    /* padding: 1rem 0 0; */
    padding: 3rem 0 0;
  }

  .headingForSections .subHeading {
    top: 0.2rem;
    left: 4rem; 
    font-size: 30px;
  }

  .subHeadingDown {
    font-size: 30px;
  }

  .headerMd {
    font-size: 35px;
  } 

  .headingLeave {
    width: 96px;
    /* left: -25px;
    top: -7px; */
    left: -45px;
    top: 7px;
  }

  .whiteStripe::before {
    height: 9.4rem;
  }

  .whiteStripeMd::before {
    height: 3.6rem;
  }

  .whiteStripeContact::before {
    height: 7.5rem;
  }

  .readMore {
    font-size: 24px;
  }

  p {
    font-size: 24px;
  }

  .centeredText {
    font-size: 24px;
  }

  .two-four-grid.conserving {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
  }

  .two-four-grid.mission {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    gap: 1.5rem;
  }

  .row {
    display: flex;
  }

  .row > * {
    flex: 1 1 40%;
    padding: 0 2rem;
  }

  .row > div:first-child {
    border-right: solid black 1px;
  }

  input {
    width: 100%;
  }

 

  form {
    width: 250px;
  }

  form button.readMore {
    margin-right: 0;
    margin-left: auto;
  }

  .aboutHeroSection_heading h5 {
    color: var(--bkg-beige);
    padding-top: 2rem;
    font-size: 24px;
    display: block;
  }

 
}

@media (min-width: 800px) {

  .contentWidth.contenctWidthGetInvolved {
    max-width: 700px;
  }

  .meetTheTeamGrid {
    max-width: var(--max-width-of-content);
  }

  .meetTheTeamGrid .card-for-wider-screen {
    display: block;
  }

  .meetTheTeamGrid .card {
    flex-basis: 30%;
  }


  .meetTheTeamGrid .card__img {
    max-width: 55%;
    margin-top: -30%;
   }

   .aboutHeroSection_heading {
    font-size: 50px;
   }
  
}

@media (min-width:1000px) {
  .meetTheTeamGrid .card__content {
    font-size: 16px;
  }
}


@media (min-width:1200px) {
  .contentWidth {
   max-width: 1000px;
  }


}