@font-face {
  font-family: 'PeaceSans';
  src: url('/fonts/PeaceSans/PeaceSansWebfont.ttf') format('truetype');
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

:root {
  --dark-green: #2E4010;
  --middle-green: #84A54B;
  --light-green: #BDD98D;
  --dark-orange: #8A3100;
  --middle-orange: #EF6C23;
  --light-orange: #FF9559;
  --bkg-light-gradient: linear-gradient(97.43deg, #ECFFCC 1.26%, rgba(255, 213, 189, 0.56) 58.76%, rgba(225, 255, 173, 0.41) 98.26%);
  --bkg-footer-gradient: radial-gradient(77.98% 1921.66% at 50% 22.02%, rgba(189, 217, 141, 0.79) 6.25%, rgba(208, 197, 126, 0.66) 46.35%, rgba(254, 160, 108, 0.62) 100%);
  --max-width-of-content: 1200px;
  --white: #FFFBE1;
  --bkg-white: #F5F5F5;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
}


ul {
  list-style: none;
}

button {
  padding: 0.5rem 1rem;
  font-weight: bold;
}

.globalsTest {
  color: pink;
  text-decoration: underline;
}

.container {
  margin: 0 auto;
  max-width: 100%; /* container 100% because of bkg - for content width use .articleComponent */
  /* background-color: rgba(0 0 0 / .1); */
  padding: 0;
}

.articleComponent {
  border: solid 1px black;
  padding: 0; /* can change due to the wireframes */
  
}

.gradientBkgComponent {
  background: var(--bkg-light-gradient);
}

.bkgWhiteComponent {
  background: var(--bkg-white);
}

.contentWidth {
  border: red solid 1px; /*temporary border to see*/
  max-width: 90%;
  margin: 0 auto;
  padding: 2rem;
}

.firstComponentOnPage {
  margin-top: 5rem; 
}

.lastComponentOnPage {
  padding-bottom: 2rem;
}

@media (min-width: 700px) {

}


@media (min-width:1200px) {
  .contentWidth {
   max-width: 1000px;
  }

}